.DS_Store
*.swp
*.m~
*~
*.asv

hidden_state_inference/mac/makefile14

hidden_state_inference/.DS_Store

*.mexmaci64

hidden_state_inference/mac/hidden_state_inference_mx.mexmaci64

*.o

*.mexmaci64

*.bak

hidden_state_inference/mac/makfileold

hidden_state_inference/.DS_Store

hidden_state_inference/test/test

*.mexmaci64
